.bg-navbar-general {
  background-color: #080c10 !important;
}

.brand-logo {
  font-size: 30px;
  font-weight: bolder;
  color: #45b1a6;
}

.header-links-padding {
  padding-right: 0.9rem !important;
  padding-left: 0.9rem !important;
}

